
@{
    ViewBag.Title = "JavaScriptEX04";
}
@section scripts{
    <script type="text/javascript" src="~/Scripts/JavaScriptEX04.js"></script>
    @Scripts.Render("~/bundles/jquery")
}

<h2>JavaScriptEX04</h2>

<h3>Palindrome </h3>

<form class="form-group frm-test4">
    <div class="form-group">
        <label for="formGroupExampleInput">Some word</label>
        <input type="text" class="form-control" id="input01" placeholder="type a word">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<h4 class="ex01"> Is it Polindrome? </h4>
<div class="test-content">  </div>